/* components */

.item, p, {
	.pibfi_pinterest {
		display: block;
		.xc_pin {
			background-image: url(img/pin-btn.png);
			width: 93px;
			height: 91px;
			top: auto;
			bottom: 15px;
			left: 15px;
		}
	}
}

.scrollTop {
    bottom: 40px;
    display: none;
    position: fixed;
    right: 50%;
	margin-right: -360px;
	a {
		background: url(img/btn-top.png) no-repeat left top;
		display: block;
		height: 103px;
		width: 152px;
	}
}
/* pager */
.nav-pager {
	padding-bottom: 25px;
	.next-posts, .prev-posts {
		a {
			height: 29px;
			background-color: #fb9da6;
			.inline-block();
			.box-sizing();
			padding: 7px 15px 0 10px;
			.caferus();
			letter-spacing: 0.1em;
			text-transform: uppercase;
			font-weight: normal;
			line-height: 1em;
		}
		.linkSet(@color-white, @color-option, 18px, none, none);
	}
	.next-posts {
		float: left;
		height: 29px;
		background: url(img/ribbon-left.png) no-repeat left top;
		padding-left: 16px;	
	}
	.prev-posts {
		float: right;
		height: 29px;
		background: url(img/ribbon-right.png) no-repeat right top;
		padding-right: 16px;		
	}
}
.setComponents(@w) when (@w = @breakpoint1) {
	.scrollTop {
		right: 50%;
		margin-right: -300px;
	}
	
}	
.setComponents(@w) when (@w = @breakpoint2) {
	.scrollTop {
		margin-right: -330px;
	}
}	
.setComponents(@w) when (@w = @breakpoint3) {
	.scrollTop {
		margin-right: -360px;
	}
}	